$title-bar-height : 35px;
$dark : #13404c;

body {
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666;
}

input[type="search"]:focus{
    border: none;
}

a {
  color: #999;
}

.content {
  padding-bottom: 5em;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #ccc;
  text-align: center;
}
.ico {
  display: inline-block;
  width: 50px;
  img {
    width: 100%;
  }
}

.sk {
  display: inline-block;
  width: $title-bar-height;
  height: $title-bar-height;
  &:before {
    content: ' ';
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
  }
}
.sk-comment:before {background-image: url(../images/icons/icon-comment.png);}
.sk-heart:before {background-image: url(../images/icons/icon-heart.png);}
.search-bar {
  background: #0f2e3e;
  overflow: hidden;
  form {
    margin: 0;
    .row{
      padding: 10px 15px;
      margin: 0;
    }
  }

  img{
    float: left;
  }
  .input-group{
    margin-left: 70px;
    display: flex;
    background: #415561;
    border-radius: 4px;
    vertical-align: middle;
    align-items: center;
    .input-group-addon{
      display: inline-block;
      height: 42px;
      height: 38px;
      width: 42px;
    }
    input{
      height: 42px;
      margin: 0;
      background: none;
      text-align: left;
      color: #ccc;
    }
  }
}
.search-cat.segmented-control {
  background: #ffd047;
  font-size: 16px;
  border: none;
  border-radius: 0;
  padding: 0 1vw;
  display: flex;
  a.control-item {
    color: $dark;
    padding: 1.5em 0.3em 1.3em;
    height: 100%;
    margin: 0 1em;
    border: none;
    &.active {
      border-bottom: 4px solid $dark;
      background: none;
    }
  }
}
.courses-list {
  overflow: hidden;
  .course {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    .title-bar {
      position: absolute;
      height: 100px;
      background: rgba(16,46,62,.8);
      padding: .5em 1em 0;
      h3 {
        color: #fff;
        font-weight: normal;
        line-height: $title-bar-height;
      }
      a {
        position: relative;
        display: inline-block;
        .num {
          position: absolute;
          top: .7em;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 8px;
        }
      }
    }
    img.cover {
      width: 100%;
    }
    .info {
      text-align: center;
      margin-top: -4em;
      img.avatar {
        border-radius: 50%;
        border: 3px solid #fff;
        width: 6em;
        height: 6em;
      }
    }
  }
}

nav.bar.bar-tab {
  .tab-item {
    .icon {
      display: inline;
      opacity: 0.5;
      img {
        width: 22px;
      }
    }
    &.active {
      .icon {
        opacity: 1;
      }
    }
    .tab-label {
      font-size: 14px;
    }
  }
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: $dark;
}

@media (min-width: 400px) {
  .search-cat.segmented-control {
    font-size: 18px;
  }
}
