body {
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666; }

input[type="search"]:focus {
  border: none; }

a {
  color: #999; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #ccc;
  text-align: center; }

.ico {
  display: inline-block;
  width: 50px; }
  .ico img {
    width: 100%; }

.sk {
  display: inline-block;
  width: 45px;
  height: 45px; }
  .sk:before {
    content: ' ';
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%; }

.sk-comment:before {
  background-image: url(../images/icons/icon-comment.png); }

.sk-heart:before {
  background-image: url(../images/icons/icon-heart.png); }

.search-bar {
  background: #0f2e3e;
  overflow: hidden; }
  .search-bar form {
    margin: 0; }
    .search-bar form .row {
      padding: 10px 15px;
      margin: 0; }
  .search-bar img {
    float: left; }
  .search-bar .input-group {
    margin-left: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #415561;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .search-bar .input-group .input-group-addon {
      display: inline-block;
      height: 42px;
      height: 38px;
      width: 42px; }
    .search-bar .input-group input {
      height: 42px;
      margin: 0;
      background: none;
      text-align: left;
      color: #ccc; }

.search-cat.segmented-control {
  background: #ffd047;
  font-size: 18px;
  border: none;
  border-radius: 0;
  padding: 0 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .search-cat.segmented-control a.control-item {
    color: #13404c;
    padding: 1em 0.3em;
    height: 100%;
    margin: 0 1em;
    border: none; }
    .search-cat.segmented-control a.control-item.active {
      border-bottom: 4px solid #10313a;
      background: none; }

.courses-list {
  overflow: hidden; }
  .courses-list .course {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat; }
    .courses-list .course .title-bar {
      position: absolute;
      height: 100px;
      background: rgba(16, 46, 62, 0.8);
      padding: 0.5em 1em 0; }
      .courses-list .course .title-bar h3 {
        color: #fff;
        font-weight: normal;
        line-height: 45px; }
      .courses-list .course .title-bar a {
        position: relative;
        display: inline-block; }
        .courses-list .course .title-bar a .num {
          position: absolute;
          top: 0.8em;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 12px; }
    .courses-list .course img.cover {
      width: 100%; }
    .courses-list .course .info {
      text-align: center;
      margin-top: -4em; }
      .courses-list .course .info img.avatar {
        border-radius: 50%;
        border: 3px solid #fff;
        width: 6em;
        height: 6em; }
