body {
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666; }

input[type="search"]:focus {
  border: none; }

a {
  color: #999; }

.content {
  padding-bottom: 5em; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #ccc;
  text-align: center; }

.ico {
  display: inline-block;
  width: 50px; }
  .ico img {
    width: 100%; }

.sk {
  display: inline-block;
  width: 35px;
  height: 35px; }
  .sk:before {
    content: ' ';
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%; }

.sk-comment:before {
  background-image: url(../images/icons/icon-comment.png); }

.sk-heart:before {
  background-image: url(../images/icons/icon-heart.png); }

.search-bar {
  background: #0f2e3e;
  overflow: hidden; }
  .search-bar form {
    margin: 0; }
    .search-bar form .row {
      padding: 10px 15px;
      margin: 0; }
  .search-bar img {
    float: left; }
  .search-bar .input-group {
    margin-left: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #415561;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .search-bar .input-group .input-group-addon {
      display: inline-block;
      height: 42px;
      height: 38px;
      width: 42px; }
    .search-bar .input-group input {
      height: 42px;
      margin: 0;
      background: none;
      text-align: left;
      color: #ccc; }

.search-cat.segmented-control {
  background: #ffd047;
  font-size: 16px;
  border: none;
  border-radius: 0;
  padding: 0 1vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .search-cat.segmented-control a.control-item {
    color: #13404c;
    padding: 1.5em 0.3em 1.3em;
    height: 100%;
    margin: 0 1em;
    border: none; }
    .search-cat.segmented-control a.control-item.active {
      border-bottom: 4px solid #13404c;
      background: none; }

.courses-list {
  overflow: hidden; }
  .courses-list .course {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat; }
    .courses-list .course .title-bar {
      position: absolute;
      height: 100px;
      background: rgba(16, 46, 62, 0.8);
      padding: 0.5em 1em 0; }
      .courses-list .course .title-bar h3 {
        color: #fff;
        font-weight: normal;
        line-height: 35px; }
      .courses-list .course .title-bar a {
        position: relative;
        display: inline-block; }
        .courses-list .course .title-bar a .num {
          position: absolute;
          top: 0.6em;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 9px; }
    .courses-list .course img.cover {
      width: 100%; }
    .courses-list .course .info {
      text-align: center;
      margin-top: -4em; }
      .courses-list .course .info img.avatar {
        border-radius: 50%;
        border: 3px solid #fff;
        width: 6em;
        height: 6em; }

nav.bar.bar-tab .tab-item .icon {
  display: inline;
  opacity: 0.5; }
  nav.bar.bar-tab .tab-item .icon img {
    width: 22px; }
nav.bar.bar-tab .tab-item.active .icon {
  opacity: 1; }
nav.bar.bar-tab .tab-item .tab-label {
  font-size: 14px; }

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #13404c; }

@media (min-width: 400px) {
  .search-cat.segmented-control {
    font-size: 18px; }
 }

.wrapper .bar {
  position: relative;
  box-shadow: none; }

.wrapper {
  height: 100%; }

.wrapper, .bar-nav {
  background-color: #E9E9E9; }

.content-icons, .content-padded, .content-btn {
  text-align: center; }

.a-btn {
  display: block;
  margin-top: 17px; }

.btn-negative, .btn-primary {
  width: 90%;
  font-size: 20px; }

.padded-text {
  width: 80%;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 30px; }

.icon-search {
  font-size: 20px; }

.content-btn {
  margin-top: 38px; }

.icons-logo {
  width: 4.5em; }

.padded-tit {
  font-size: 38px; }

.btn-white {
  font-size: 20px; }

.icon {
  color: #000; }

.navigate-right:after, .push-right:after {
  right: 15px;
  content: ''; }

.table-view-cell > a:not(.btn) {
  margin: -11px -105px -11px -15px; }

.table-view-cell {
  background-color: #DADADA;
  margin-top: -8px; }

.cell-nomar {
  margin-top: 0; }

.btn {
  font-size: 20px;
  height: 45px; }

.content-icons {
  clear: both; }

.btn-negative {
  background-color: #eb282d;
  border: 1px solid #eb282d;
  border-radius: 5px; }

.btn:hover {
  color: #bbb; }

/*register.html*/
.register_form > form > div input {
  height: 45px;
  border-radius: 6px;
  font-size: 19px; }

.register_form {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px; }

.info {
  text-align: center;
  clear: both; }

.info h4 {
  margin-top: 10px; }

.btn-positive {
  line-height: 0.5;
  background-color: #126F8E;
  border: 1px solid #126F8E;
  border-radius: 6px;
  font-size: 22px;
  letter-spacing: 6px;
  margin-bottom: 18px; }

.register_form > form > .reg-name {
  margin-bottom: 7px; }

.register_form > form > p {
  color: #bbb;
  font-size: 14px; }

.register_form > form > p > a {
  color: #bbb;
  text-decoration: underline;
  font-size: 14px; }

.register_form > form > p input {
  margin-right: 10px; }

.register_form > form > div {
  position: relative; }

.register_form > form > div > img {
  position: absolute;
  right: 6px;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  top: 6px; }

.icon-left-nav:before {
  color: #fff; }

.icon {
  color: #fff; }

/*//Per*/
.personal {
  position: relative; }
  .personal .bar {
    position: relative; }
  .personal .info {
    clear: none; }
  .personal .where {
    color: #909090;
    font-size: 15px;
    margin-top: 0; }
  .personal .title {
    color: #666;
    font-size: 28px;
    margin: 0; }
  .personal .avatarbig {
    width: 7em;
    height: 7em; }
  .personal .white {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2; }
  .personal .head-btn {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3px; }
  .personal .bag-color {
    background-color: #ffd047;
    height: auto;
    position: relative; }
  .personal .info {
    background-color: #ffd047;
    padding-bottom: 15px; }
  .personal .info img {
    width: 7em;
    height: 7em; }
  .personal .posi-rel {
    position: relative;
    padding-top: 5px; }
  .personal .a-inblo {
    display: inline-block;
    width: 45%;
    margin: 0 auto;
    line-height: 1.5; }
  .personal .a-inblo button {
    width: 100%; }
  .personal .btn {
    top: 0;
    height: 38px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1.8;
    border: 0; }
  .personal .btn-white {
    color: #0a82a0; }
  .personal .mar {
    margin-right: 10px; }
  .personal .btn-primary {
    background-color: #116e8e;
    letter-spacing: 8px; }
  .personal .bar-tab {
    border-bottom: 1px solid #a6afb1;
    padding-bottom: 5px;
    background-color: #fff; }
    .personal .bar-tab .icon {
      color: #000;
      font-size: 20px; }
    .personal .bar-tab .tab-item span {
      line-height: 1.7; }
    .personal .bar-tab .tab-label {
      color: #b5bdbf; }
    .personal .bar-tab .content-padded {
      background-color: #f7f7f8; }
  .personal .content-padded {
    width: 90%;
    margin: 0 auto;
    color: #909090; }
    .personal .content-padded .padded-tex {
      margin: 35px 0;
      text-align: left;
      font-size: 16px;
      line-height: 1.7;
      color: #909090; }
    .personal .content-padded h3 {
      font-size: 20px; }
  .personal .segmented-control {
    border-bottom: 0;
    margin-top: 40px;
    border-radius: 0; }
    .personal .segmented-control .control-item {
      padding: 8px 0 18px 0; }
      .personal .segmented-control .control-item span {
        display: inline-block;
        line-height: 1.5; }
      .personal .segmented-control .control-item .label {
        display: block;
        font-size: 15px;
        opacity: 0.5;
        line-height: 1.8; }
      .personal .segmented-control .control-item .icon {
        color: #b5bdbf;
        font-size: 27px; }
    .personal .segmented-control .active {
      color: #000;
      background-color: #dadada;
      border-top: 3px solid #116e8e; }
      .personal .segmented-control .active .icon {
        color: #123e50; }
  .personal .card {
    margin: 0;
    border-radius: 0; }
    .personal .card .table-view-cell {
      margin-top: 0;
      margin-bottom: 1px;
      padding: 30px 30px 20px;
      color: #909090;
      overflow: hidden;
      line-height: 1; }
      .personal .card .table-view-cell span {
        line-height: 2; }
      .personal .card .table-view-cell img {
        width: 30px;
        height: 30px;
        float: right; }
      .personal .card .table-view-cell .cell-content {
        display: inline-block;
        margin-left: 20px;
        font-size: 12px; }

/* classes.css */
.classes {
  position: relative; }
  .classes .info {
    text-align: center;
    clear: both;
    padding-top: 30px;
    background-color: #f7f7f8; }
    .classes .info p {
      font-size: 13px;
      color: #b5bdbf; }
    .classes .info a {
      font-size: 0; }
    .classes .info .teach-evaluation {
      position: relative; }
      .classes .info .teach-evaluation .evaluation {
        position: absolute;
        z-index: 999;
        left: 50%;
        background-color: #f7f7f8;
        margin-left: -52px;
        top: -10px;
        height: 25px;
        width: 100px;
        font-size: 16px;
        color: #909090; }
    .classes .info .bar {
      position: relative;
      margin-top: 30px;
      box-shadow: none;
      border-top: 1px solid #a6afb1;
      border-bottom: 1px solid #a6afb1;
      padding: 5px 0; }
      .classes .info .bar .border-right {
        border-right: 1px solid #a6afb1; }
      .classes .info .bar .tab-item {
        font-size: 0;
        padding: 20px 0; }
        .classes .info .bar .tab-item .icon {
          color: #b5bdbf;
          opacity: 1;
          font-size: 30px; }
        .classes .info .bar .tab-item .tab-label {
          color: #b5bdbf;
          font-size: 16px; }
  .classes .info img.avatar {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 6em;
    height: 6em; }
  .classes .btn-primary {
    background-color: #4f8da5;
    border: 1px solid #4f8da5;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    letter-spacing: 4px; }
  .classes .info h4 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 5px; }
  .classes .content-padded {
    text-align: left;
    width: 100%;
    margin: 0; }
    .classes .content-padded h3 {
      text-align: center;
      padding: 20px 0;
      margin-bottom: 0;
      color: #909090; }
    .classes .content-padded p {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 14px;
      letter-spacing: 2px; }
    .classes .content-padded h4 {
      padding: 0;
      font-size: 16px;
      color: #fff;
      position: relative; }
      .classes .content-padded h4 img {
        width: 150px;
        height: 45px; }
      .classes .content-padded h4 span {
        position: absolute;
        left: 5px;
        top: 12px; }
  .classes .segmented-control {
    border-bottom: 0;
    margin-top: 40px;
    border-radius: 0; }
    .classes .segmented-control .control-item {
      padding: 8px 0 18px 0; }
      .classes .segmented-control .control-item span {
        display: inline-block;
        line-height: 1.5; }
      .classes .segmented-control .control-item .label {
        display: block;
        font-size: 15px;
        opacity: 0.5;
        line-height: 1.8; }
      .classes .segmented-control .control-item .icon {
        color: #b5bdbf;
        font-size: 27px; }
    .classes .segmented-control .active {
      color: #000;
      background-color: #dadada;
      border-top: 3px solid #116e8e; }
      .classes .segmented-control .active .icon {
        color: #123e50; }
  .classes .card {
    margin: 0;
    border-radius: 0; }
    .classes .card .table-view-cell {
      margin-top: 0;
      margin-bottom: 1px;
      color: #909090;
      overflow: hidden;
      line-height: 1;
      background-color: #dadada;
      padding-top: 18px; }
      .classes .card .table-view-cell .navigate-right .pull-left {
        width: 3em;
        height: 3em;
        margin-right: 20px; }
      .classes .card .table-view-cell .navigate-right .media-body {
        position: relative; }
        .classes .card .table-view-cell .navigate-right .media-body h4 {
          color: #0a82a0; }
        .classes .card .table-view-cell .navigate-right .media-body p {
          line-height: 1.5;
          letter-spacing: 1px; }
        .classes .card .table-view-cell .navigate-right .media-body .time {
          color: #fff;
          position: absolute;
          right: 0px;
          top: 0; }
    .classes .card .control-content .liuyan-form {
      margin-bottom: 0;
      padding: 10px 20px;
      overflow: hidden; }
      .classes .card .control-content .liuyan-form input {
        margin-bottom: 0;
        width: 82%;
        float: right; }
      .classes .card .control-content .liuyan-form img {
        width: 2em;
        height: 2em; }
    .classes .card .footer-btn {
      text-align: center; }
      .classes .card .footer-btn a {
        font-size: 0; }
        .classes .card .footer-btn a .btn-yellow {
          background-color: #FECF4C;
          border: 3px solid #fff;
          width: 49%;
          border-radius: 10px;
          color: #000;
          height: 50px;
          line-height: 1.5; }
  .classes .bar {
    background: rgba(0, 0, 0, 0);
    box-shadow: none; }
  .classes .courses-list .course .title-bar {
    height: 100%;
    background: rgba(16, 46, 62, 0.5); }
    .classes .courses-list .course .title-bar .u-pull-left {
      text-align: center;
      float: none;
      position: relative;
      top: 30%;
      letter-spacing: 3px; }
  .classes .courses-list .course .title-list {
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    bottom: 80px;
    width: 100%; }
    .classes .courses-list .course .title-list li {
      display: inline-block;
      background-color: #dbdcde;
      border-radius: 15px;
      padding: 5px 10px;
      width: 28%;
      margin: 4px; }

.notice {
  padding: 10px;
  position: relative;
  background-color: #eaeaea; }
  .notice .segmented-control .control-item {
    letter-spacing: 3px;
    font-size: 18px;
    padding: 10px 0; }
  .notice .card {
    margin: 10px 0 50px; }
    .notice .card .table-view-cell {
      margin-top: 0;
      margin-bottom: 10px;
      color: #909090;
      overflow: hidden;
      line-height: 1;
      background-color: #fff;
      padding-top: 18px; }
      .notice .card .table-view-cell .navigate-right .pull-left {
        width: 3em;
        height: 3em;
        margin-right: 20px; }
      .notice .card .table-view-cell .navigate-right .media-body {
        position: relative; }
        .notice .card .table-view-cell .navigate-right .media-body h4 {
          color: #0a82a0; }
        .notice .card .table-view-cell .navigate-right .media-body p {
          line-height: 1.5;
          letter-spacing: 1px;
          color: #909090; }
        .notice .card .table-view-cell .navigate-right .media-body .time {
          color: #b5bdbf;
          position: absolute;
          right: 0px;
          top: 0; }
    .notice .card .table-view {
      background-color: #eaeaea; }






/*chat.css*/

.chat-content{
  width:90%;
  margin:0 auto;
}

.chat{
position:relative;
background-color:#eaeaea;
}
.chat .icon-left-nav:before {
color:#a6afb2;
}
.chat .bar{
box-shadow:none;
background-color:#eaeaea;
position: relative;}
.chat .title{
color:#909090;
font-size:25px; 
}  
.sender{      
  overflow: hidden;
  margin:20px 0; 
}  
.sender > div:nth-of-type(1){   
  text-align: center; 
  color:#bbb;
} 
.sender div:nth-of-type(2){   
  float: left;    
  margin-right:5px;
}   
.sender div:nth-of-type(3){   
  background-color: #fff; 
  max-width:65%;
  float: left;      
  font-size:14px;
  color:#909090;
  margin: 0 20px 10px 15px; 
  padding: 10px 10px 10px 0px;  
  border-radius:7px;  
  position: relative;
}   
.receiver div:nth-of-type(2) img,  
.sender div:nth-of-type(2) img{    
  width:4em;     
  height: 4em; 
}   
.receiver{    
  clear:both;   
  margin:20px 0;
  overflow: hidden;
}   
.receiver > div:nth-of-type(1){   
  text-align: center; 
  color:#bbb;
} 
.receiver div:nth-child(2){   
  float: right;   
  margin-right:5px;
}   
.receiver div:nth-of-type(3){ 
  float:right;     
  max-width:65%; 
  background-color: #fff;  
  color:#909090;
  font-size:14px; 
  margin: 0 10px 10px 20px; 
  padding: 10px 0px 10px 10px;    
  border-radius:7px;    
  position: relative;
}   
.left_triangle{ 
  height:0px;   
  width:0px;    
  border-width:8px;   
  border-style:solid;   
  border-color:transparent #fff transparent transparent;    
  position: relative; 
  left:-16px;   
  top:15px;    
  position: absolute;
} 
.right_triangle{    
  height:0px;   
  width:0px;    
  border-width:8px;   
  border-style:solid; 
  border-color:transparent transparent transparent #fff;      
  position: relative;     
  right:-16px;    
  top:15px; 
  position: absolute;   
}
.send{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color:#f7f7f8;
  padding:10px 15px;
}
.send input[type=text]{
  width: 88%;
  height: auto;
  margin-bottom:0;
  border-radius: 5px;
}
.send form{
  margin-bottom:0;  
}
.send .btn{
  background-color: transparent;
  color:#909090;
  border:transparent;
  width: 10%;
  float: right;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 0;
}
.send .btn:hover{
  color: #0a82a0;
}