.white {
  color: #fff; }

.olive {
  color: #116f8f; }

.grey {
  color: #999; }

.red {
  color: red; }

body {
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666; }

time {
  font-size: 12px;
  color: #ccc; }

input[type="search"]:focus {
  border: none; }

.avatar {
  border-radius: 50%;
  border: 3px solid #fff; }

a {
  color: #999; }

.has-header {
  padding-top: 44px !important; }

.no-header {
  padding-top: 0; }

.badge {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: red;
  text-align: center;
  padding: 0; }
  .badge:empty {
    display: none; }

.flag-num {
  position: relative;
  display: inline-block; }
  .flag-num .badge {
    position: absolute;
    top: -10px;
    right: -22px; }

.bar-nav ~ .content {
  padding-top: 0; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #ccc;
  text-align: center; }

.ico {
  display: inline-block;
  width: 50px; }
  .ico img {
    width: 100%; }

.avatar-text {
  list-style: none; }
  .avatar-text li.card {
    padding: 1em; }
    .avatar-text li.card .pull-left {
      margin-right: 1em; }
      .avatar-text li.card .pull-left img {
        width: 4em;
        height: 4em; }
      .avatar-text li.card .pull-left .badge {
        top: 0px;
        right: 0px; }
    .avatar-text li.card .msg-title time {
      color: #ccc; }
    .avatar-text li.card p {
      margin: 0; }
    .avatar-text li.card .flag-num {
      color: #116f8f; }

.comment-text {
  list-style: none;
  background: #ddd; }
  .comment-text li.card {
    padding: 1em;
    background: none;
    border-bottom: 1px solid #fff;
    margin: 0;
    border-radius: 0; }
    .comment-text li.card .pull-left {
      margin-right: 1em; }
      .comment-text li.card .pull-left img {
        width: 3em;
        height: 3em;
        border: 1px solid #fff; }
      .comment-text li.card .pull-left .badge {
        top: 0px;
        right: 0px; }
    .comment-text li.card p {
      margin: 0; }
    .comment-text li.card .flag-num {
      color: #116f8f; }
    .comment-text li.card .msg-title .time {
      color: #fff;
      font-size: 12px; }

.sk {
  display: inline-block;
  width: 35px;
  height: 35px; }
  .sk:before {
    content: ' ';
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%; }

.sk-comment:before {
  background-image: url(../images/icons/icon-comment.png); }

.sk-heart:before {
  background-image: url(../images/icons/icon-heart.png); }

.search-bar {
  background: #0f2e3e;
  overflow: hidden; }
  .search-bar form {
    margin: 0; }
    .search-bar form .row {
      padding: 10px 15px;
      margin: 0; }
  .search-bar img {
    float: left; }
  .search-bar .input-group {
    margin-left: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #415561;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .search-bar .input-group .input-group-addon {
      display: inline-block;
      height: 42px;
      height: 38px;
      width: 42px; }
    .search-bar .input-group input {
      height: 42px;
      margin: 0;
      background: none;
      text-align: left;
      color: #ccc; }

.search-cat.segmented-control {
  background: #ffd047;
  font-size: 16px;
  border: none;
  border-radius: 0;
  padding: 0 1vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .search-cat.segmented-control a.control-item {
    color: #13404c;
    padding: 1.5em 0.3em 1.3em;
    height: 100%;
    margin: 0 1em;
    border: none; }
    .search-cat.segmented-control a.control-item.active {
      border-bottom: 4px solid #13404c;
      background: none; }

.courses-list {
  overflow: hidden; }
  .courses-list .course {
    position: relative; }
    .courses-list .course .title-bar {
      position: absolute;
      height: 100px;
      background: rgba(16, 46, 62, 0.8);
      padding: 0.5em 1em 0; }
      .courses-list .course .title-bar h3 {
        color: #fff;
        font-weight: normal;
        line-height: 35px; }
      .courses-list .course .title-bar a {
        position: relative;
        display: inline-block; }
        .courses-list .course .title-bar a .num {
          position: absolute;
          top: 0.6em;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 9px; }
    .courses-list .course img.cover {
      width: 100%; }
    .courses-list .course .info {
      text-align: center;
      margin-top: -4em; }
      .courses-list .course .info img.avatar {
        border-radius: 50%;
        border: 3px solid #fff;
        width: 6em;
        height: 6em; }

nav.bar.bar-tab .tab-item .icon {
  display: inline;
  opacity: 0.6;
  font-size: 19px; }
  nav.bar.bar-tab .tab-item .icon img {
    width: 22px; }
nav.bar.bar-tab .tab-item.active .icon {
  opacity: 1; }

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #13404c; }

@media (min-width: 400px) {
  .search-cat.segmented-control {
    font-size: 18px; }
 }

.bar-nav {
  background: rgba(0, 0, 0, 0);
  box-shadow: none; }

.content-icons, .content-padded, .content-btn {
  text-align: center; }

.a-btn {
  display: block;
  margin-top: 17px; }

.btn-negative, .btn-primary {
  width: 90%;
  font-size: 20px; }

.padded-text {
  font-size: 12px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 30px; }

.icon-search {
  font-size: 20px; }

.content-btn {
  margin-top: 38px; }

.icons-logo {
  width: 4.5em; }

.padded-tit {
  font-size: 38px; }

.btn-white {
  font-size: 20px; }

.navigate-right:after, .push-right:after {
  right: 15px;
  content: ''; }

.table-view-cell {
  background-color: #DADADA;
  margin-top: -8px; }

.cell-nomar {
  margin-top: 0; }

.btn {
  font-size: 20px;
  height: 45px; }

.content-icons {
  clear: both; }

.btn-negative {
  background-color: #eb282d;
  border: 1px solid #eb282d;
  border-radius: 5px; }

.btn:hover {
  color: #bbb; }

/*register.html*/
body.register .bar-nav ~ .content {
  padding-top: 44px; }
body.register .register_form > form > div input {
  height: 45px;
  border-radius: 6px;
  font-size: 19px; }
body.register .register_form {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px; }
body.register .info {
  text-align: center;
  clear: both; }
  body.register .info img {
    width: 5em;
    height: 5em; }
  body.register .info h4 {
    margin-top: 10px; }
body.register .btn-positive {
  line-height: 0.5;
  background-color: #126F8E;
  border: 1px solid #126F8E;
  border-radius: 6px;
  font-size: 22px;
  letter-spacing: 6px;
  margin-bottom: 18px; }
body.register .register_form > form > .reg-name {
  margin-bottom: 7px; }
body.register .register_form > form > p {
  color: #bbb;
  font-size: 14px; }
body.register .register_form > form > p > a {
  color: #bbb;
  text-decoration: underline;
  font-size: 14px; }
body.register .register_form > form > p input {
  margin-right: 3px; }
body.register .register_form > form > div {
  position: relative; }
body.register .register_form > form > div > img {
  position: absolute;
  right: 6px;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  top: 6px; }

/*//Per*/
.personal {
  background-color: #f7f7f8; }
  .personal header a {
    color: #fff; }
  .personal .bar-tab {
    border-bottom: 1px solid #999; }
  .personal .where {
    color: #909090;
    font-size: 15px;
    margin-top: 0;
    margin-top: -3px;
    margin-bottom: 15px; }
  .personal .title {
    color: #666;
    font-size: 28px;
    margin: 0; }
  .personal .avatarbig {
    width: 7em;
    height: 7em; }
  .personal .white {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 5px; }
  .personal .head-btn {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3px; }
  .personal .bag-color {
    background-color: #ffd047;
    height: auto;
    position: relative; }
  .personal .info {
    background-color: #ffd047;
    padding-bottom: 15px;
    text-align: center; }
  .personal .info img {
    width: 7em;
    height: 7em;
    border: 3px solid #fff;
    border-radius: 60px; }
  .personal .posi-rel {
    position: relative;
    padding-top: 5px; }
  .personal .a-inblo {
    display: inline-block;
    width: 47%;
    margin: 0 auto;
    line-height: 1.5; }
  .personal .a-inblo button {
    width: 100%; }
  .personal .btn {
    top: 0;
    height: 38px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1.8;
    border: 0; }
  .personal .btn-white {
    color: #0a82a0; }
  .personal .mar {
    margin-right: 10px; }
  .personal .btn-primary {
    background-color: #116e8e;
    letter-spacing: 8px; }
  .personal .bar-tab {
    padding-bottom: 5px;
    background-color: #fff; }
    .personal .bar-tab .icon {
      color: #333;
      font-size: 20px; }
    .personal .bar-tab .tab-item span {
      line-height: 1.7; }
    .personal .bar-tab .tab-label {
      color: #b5bdbf; }
    .personal .bar-tab .content-padded {
      background-color: #f7f7f8; }
  .personal .content-padded {
    width: 90%;
    margin: 0 auto;
    color: #909090; }
    .personal .content-padded .padded-tex {
      margin: 35px 5px;
      text-align: left;
      font-size: 16px;
      line-height: 1.7;
      color: #909090; }
    .personal .content-padded h3 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #919090; }
  .personal .comment .segmented-control {
    border-bottom: 0;
    margin-top: 40px;
    border-radius: 0; }
    .personal .comment .segmented-control .control-item {
      padding: 8px 0 18px 0; }
      .personal .comment .segmented-control .control-item span {
        display: inline-block;
        line-height: 1.5; }
      .personal .comment .segmented-control .control-item .label {
        display: block;
        font-size: 15px;
        line-height: 1.8; }
      .personal .comment .segmented-control .control-item .icon {
        color: #b5bdbf;
        font-size: 27px; }
    .personal .comment .segmented-control .active {
      color: #333;
      background-color: #dadada;
      border-top: 3px solid #116e8e; }
      .personal .comment .segmented-control .active .icon {
        color: #123e50; }
  .personal .comment .comment-content {
    margin: 0;
    border-radius: 0; }
    .personal .comment .comment-content .table-view-cell {
      margin-top: 0;
      margin-bottom: 1px;
      padding: 30px 30px 20px;
      color: #909090;
      overflow: hidden;
      line-height: 1; }
      .personal .comment .comment-content .table-view-cell span {
        line-height: 2; }
      .personal .comment .comment-content .table-view-cell img {
        width: 30px;
        height: 30px;
        float: right; }
      .personal .comment .comment-content .table-view-cell .cell-content {
        display: inline-block;
        margin-left: 20px;
        font-size: 12px; }

/* classes.css */
.course-page .info {
  text-align: center;
  clear: both;
  padding-top: 30px;
  background-color: #f7f7f8; }
  .course-page .info p {
    font-size: 13px;
    color: #b5bdbf; }
  .course-page .info a {
    font-size: 0; }
  .course-page .info .teach-evaluation {
    position: relative; }
    .course-page .info .teach-evaluation .evaluation {
      position: absolute;
      z-index: 999;
      left: 50%;
      background-color: #f7f7f8;
      margin-left: -52px;
      top: -10px;
      height: 25px;
      width: 100px;
      font-size: 16px;
      color: #909090; }
  .course-page .info .bar {
    position: relative;
    margin-top: 30px;
    box-shadow: none;
    border-top: 1px solid #a6afb1;
    border-bottom: 1px solid #a6afb1;
    padding: 5px 0; }
    .course-page .info .bar .border-right {
      border-right: 1px solid #a6afb1; }
    .course-page .info .bar .tab-item {
      font-size: 0;
      padding: 20px 0; }
      .course-page .info .bar .tab-item .icon {
        color: #b5bdbf;
        opacity: 1;
        font-size: 30px; }
      .course-page .info .bar .tab-item .tab-label {
        color: #b5bdbf;
        font-size: 16px; }
.course-page .info img.avatar {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 6em;
  height: 6em; }
.course-page .btn-primary {
  background-color: #4f8da5;
  border: 1px solid #4f8da5;
  border-radius: 5px;
  width: 40%;
  height: 40px;
  letter-spacing: 4px; }
.course-page .info h4 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 5px; }
.course-page .content-padded {
  text-align: left;
  width: 100%;
  margin: 0; }
  .course-page .content-padded h3 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    color: #909090; }
  .course-page .content-padded p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: 2px; }
  .course-page .content-padded h4 {
    padding: 0;
    font-size: 16px;
    color: #fff;
    position: relative; }
    .course-page .content-padded h4 img {
      width: 86.5px;
      height: 25px; }
    .course-page .content-padded h4 span {
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 12px; }
.course-page .comment .segmented-control {
  border-bottom: 0;
  margin-top: 40px;
  border-radius: 0; }
  .course-page .comment .segmented-control .control-item {
    padding: 8px 0 10px 0; }
    .course-page .comment .segmented-control .control-item span {
      display: inline-block;
      color: #123e50;
      line-height: 1.5; }
    .course-page .comment .segmented-control .control-item .label {
      display: block;
      font-size: 15px;
      opacity: 0.8;
      line-height: 1.8;
      color: #123e50; }
    .course-page .comment .segmented-control .control-item .icon {
      font-size: 27px; }
    .course-page .comment .segmented-control .control-item table {
      width: 95%;
      margin: 0 auto;
      position: relative;
      top: -5px; }
      .course-page .comment .segmented-control .control-item table tr {
        border: 0 solid #fff;
        line-height: 1.5; }
        .course-page .comment .segmented-control .control-item table tr td {
          border: none;
          text-align: center; }
  .course-page .comment .segmented-control .active {
    color: #333;
    background-color: #dadada;
    border-top: 3px solid #116e8e; }
    .course-page .comment .segmented-control .active .icon {
      color: #123e50; }
.course-page .comment .comment-content {
  position: relative;
  margin: 0;
  border-radius: 0; }
  .course-page .comment .comment-content .table-view-cell {
    margin-top: 0;
    margin-bottom: 1px;
    color: #909090;
    overflow: hidden;
    line-height: 1;
    background-color: #dadada;
    padding-top: 18px; }
    .course-page .comment .comment-content .table-view-cell .navigate-right .pull-left {
      width: 3em;
      height: 3em;
      margin-right: 20px;
      border: 1px solid #fff;
      border-radius: 25px; }
    .course-page .comment .comment-content .table-view-cell .navigate-right .media-body {
      position: relative; }
      .course-page .comment .comment-content .table-view-cell .navigate-right .media-body h4 {
        color: #0a82a0; }
      .course-page .comment .comment-content .table-view-cell .navigate-right .media-body p {
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: 16px; }
      .course-page .comment .comment-content .table-view-cell .navigate-right .media-body .time {
        color: #fff;
        position: absolute;
        right: 0px;
        top: -3px;
        font-size: 12px; }
  .course-page .comment .comment-content .control-content .liuyan-form {
    margin-bottom: 0;
    padding: 10px 25px;
    overflow: hidden;
    background-color: #f2f2f2; }
    .course-page .comment .comment-content .control-content .liuyan-form input {
      margin-bottom: 0;
      width: 82%;
      border-radius: 6px;
      float: right; }
    .course-page .comment .comment-content .control-content .liuyan-form .icon-heart {
      border: 1px solid #a6afb2;
      border-radius: 23px;
      padding: 8px;
      background-color: #fff; }
      .course-page .comment .comment-content .control-content .liuyan-form .icon-heart:before {
        color: #a6afb2;
        position: relative;
        top: 2px; }
.course-page .bar-footer {
  height: 60px;
  text-align: center;
  background: #fff; }
  .course-page .bar-footer a {
    font-size: 0; }
    .course-page .bar-footer a .btn-yellow {
      background-color: #FECF4C;
      border: 3px solid #fff;
      width: 49%;
      border-radius: 10px;
      color: #424242;
      height: 50px;
      line-height: 1.5;
      font-size: 16px; }
.course-page .cover-box {
  background: #13404c; }
  .course-page .cover-box h2 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%; }
  .course-page .cover-box .title-list {
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    top: 58%;
    width: 100%; }
    .course-page .cover-box .title-list a {
      display: inline-block;
      background-color: #fff;
      opacity: 0.8;
      border-radius: 15px;
      font-size: 16px;
      width: 28%;
      margin: 4px;
      line-height: 2; }
      .course-page .cover-box .title-list a .blue {
        color: #116f8f; }
      .course-page .cover-box .title-list a span {
        margin: 0 2px; }
      .course-page .cover-box .title-list a .icon {
        position: relative;
        top: 3px;
        font-size: 20px; }
  .course-page .cover-box img {
    width: 100%;
    opacity: 0.7; }

.message {
  background-color: #eee; }
  .message .bar-nav {
    height: 47px;
    background: #eee; }
    .message .bar-nav ~ .content {
      padding-top: 60px; }
  .message .segmented-control {
    border-radius: 5px; }
    .message .segmented-control .control-item {
      letter-spacing: 3px;
      padding: 10px 0;
      font-size: 18px; }
  .message .table-view {
    background: none; }
    .message .table-view .table-view-cell {
      margin-top: 0;
      margin-bottom: 10px;
      color: #909090;
      overflow: hidden;
      line-height: 1;
      background-color: #fff;
      padding-top: 18px; }
      .message .table-view .table-view-cell .navigate-right .pull-left {
        width: 4em;
        height: 4em;
        margin-right: 20px;
        border: 1px solid #fff; }
      .message .table-view .table-view-cell .navigate-right .media-body {
        position: relative; }
        .message .table-view .table-view-cell .navigate-right .media-body h4 {
          color: #0a82a0;
          letter-spacing: 1px; }
        .message .table-view .table-view-cell .navigate-right .media-body p {
          line-height: 1.5;
          letter-spacing: 1px;
          color: #909090; }
        .message .table-view .table-view-cell .navigate-right .media-body .time {
          color: #b5bdbf;
          position: absolute;
          right: -2px;
          top: -4px; }
    .message .table-view #item2mobile .message-number {
      left: 60px; }
    .message .table-view .table-view {
      background-color: #eaeaea; }

.chat {
  background-color: #eaeaea; }
  .chat .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
    top: 0;
    left: 0;
    z-index: 1060;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .chat .popover .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: rgba(0, 0, 0, 0.25);
      border-left-width: 0;
      border-width: 11px; }
    .chat .popover .arrow:after {
      bottom: -10px;
      left: 1px;
      content: " ";
      border-right-color: #fff;
      border-left-width: 0;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid; }
    .chat .popover .popover-content {
      padding: 9px 14px; }
      .chat .popover .popover-content p {
        margin: 0 0 10px; }
  .chat .send-time {
    text-align: center;
    color: #b5bdbf;
    font-size: 14px;
    margin-bottom: 10px; }
  .chat .receiver-time {
    text-align: center;
    color: #b5bdbf;
    font-size: 14px;
    margin-bottom: 10px; }
  .chat .bar {
    box-shadow: none;
    position: relative; }
    .chat .bar .title {
      color: #606060;
      font-size: 22px; }
  .chat .chat-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px; }
    .chat .chat-content .sender {
      overflow: hidden;
      margin-bottom: 20px;
      padding-bottom: 2px; }
      .chat .chat-content .sender .send-img {
        float: left; }
        .chat .chat-content .sender .send-img img {
          width: 4em;
          height: 4em;
          border: 1px solid #fff;
          border-radius: 35px; }
      .chat .chat-content .sender .send-content {
        position: relative;
        background-color: #fff;
        margin-left: 6em;
        padding: 10px;
        border-radius: 7px;
        font-size: 14px;
        color: #909090;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.85); }
        .chat .chat-content .sender .send-content .left_triangle {
          height: 0px;
          width: 0px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent #fff transparent transparent;
          position: absolute;
          left: -16px;
          top: 13px; }
    .chat .chat-content .receiver {
      overflow: hidden;
      margin-bottom: 20px;
      padding-bottom: 2px; }
      .chat .chat-content .receiver .receiver-img {
        float: right; }
        .chat .chat-content .receiver .receiver-img img {
          width: 4em;
          height: 4em; }
      .chat .chat-content .receiver .receive-content {
        position: relative;
        background-color: #fff;
        margin-right: 6em;
        padding: 10px;
        border-radius: 7px;
        font-size: 14px;
        color: #909090;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.85); }
        .chat .chat-content .receiver .receive-content .right_triangle {
          height: 0px;
          width: 0px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent transparent #fff;
          position: absolute;
          right: -16px;
          top: 13px; }
  .chat .write {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f7f7f8;
    padding: 10px 0 10px 10px;
    border-top: 1px solid #969696; }
    .chat .write form {
      overflow: hidden;
      margin-bottom: 0; }
      .chat .write form .write-box {
        width: 82%;
        float: left;
        margin-bottom: 0;
        border-radius: 5px;
        color: #909090;
        padding: 5px 10px;
        border: 1px solid #a6afb1; }
      .chat .write form button {
        width: 18%;
        height: 40px;
        float: right;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        color: #b5bdbf;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center; }
      .chat .write form button:hover {
        color: #0a82a0; }
