.add-course-page {
  display: none;
  .btn-olive {
    background: $olive;
  }
  &.active {
    display: block;
  }


  form {
    margin-top: 85px;
    .inner {
      margin: 10px 20px;
      h3 {
        font-size: 19px;
      }
      h5 {
        font-size: 15px;
        color: #4d4d4d;
      }
      .select-lever {
        .wrapper {
          position: relative;
          .num {
            position: absolute;
            pointer-events: none;
            top: 5px;
            width: 30px;
            height: 30px;
            background: $olive;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 13px;
          }
          ul.vertical-lines {
            display: flex;
            position: absolute;
            width: 100%;
            left: 0;
            top: 18px;
            pointer-events: none;
            li {
              flex-grow: 1;
              width: 20%;
              float: left;
              border-right: 1px solid #fff;
              height: 8px;
              &:nth-child(100n + 5) {
                border: none;
              }
            }
          }
        }
        ul.levers {
          display: flex;
          justify-content: space-between;
          &.lever-bar {
            background-image: linear-gradient(-90deg, #A6AFB2 0%, #D9DCDD 99%);
            border-radius: 10px;
          }
          li {
            flex-grow: 1;
            width: 20%;
            float: left;
            position: relative;
            text-align: center;
            font-size: 13px;
            color: $lighterOlive;
          }
        }
      }
    }
  }
  &.step-2 {
    form {
      .inner {
        input, textarea {
          margin-bottom: 0;
        }
      }
      #extra {
        background: $lighterOlive;
        margin-top: 2em;
        .inner {
          margin-bottom: 0;
          padding-bottom: 10px;
          .tl {
            @include vertical-middle;
            justify-content: space-between;
            color: #fff;
            font-size: 15px;
            padding: 1em 0;
            h5 {
              margin: 0;
              color: #fff;
            }
            small {
              font-size: 12px;
            }
          }
          input {
            margin-bottom: 18px;
          }
          textarea {
            margin-bottom: 15px;
          }

        }
      }
    }
  }
  &.step-3 {
    form {
      .inner {
        margin: 0;
      }
    }
  }
  &.step-saved {
    form {
      .inner {
        margin: 0;
      }
    }
  }
  &.step-success {
    form {
      margin-top: 70px;
      .inner {
        margin: 0;
        h4 {
          font-size: 15px;
          line-height: 1.5;
        }
      }
    }
  }
  &.step-private {
    .edit-avatar {
      position: relative;
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        .avatar {
          width: 78px;
          height: 78px;
        }
        .icon {
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -15px 0 0 -15px;
          font-size: 15px;
        }
        input[type=file] {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
        }
      }
    }
    .group-input {
      display: flex;
      justify-content: space-between;
      input {
        width: 48%;
      }
    }
    h5 {
      margin-top: 5px;
    }
  }
}

.bar {
  &.step-1, &.step-2, &.step-3, &.step-success {
    display: none;
    &.active {
      display: block;
    }
  }
  &.step-success {
    .main {
      background: none;
      height: 44px;
      .step-name {
        font-size: 20px;
        color: $darkGrey;
      }
    }
  }
}

body > .content > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  h4 {
    margin: 0;
    color: $black;
  }
}

.steps {
  padding: 0;
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    background: $darkOlive;
    .icon-arrow-left {
    }
    color: #fff;
    a {
    }
    > * {
      flex-grow: 1;
      width: 33%
    }
    .step-name {
      text-align: center;
      font-size: 15px;
    }
    .center-title {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 44px;
    }
    .btn {
      padding: 8px 12px;
      width: auto;
      top: 0;
      &.disabled {
        opacity: 0.3;
      }
      &.btn-olive {

      }
    }
    .icon {
      padding: 0;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn {
        margin-left: 5px;
      }
    }

  }
  .process-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      flex-grow: 1;
      background: $lighterOlive;
      height: 7px;
      &:nth-child(100n + 2) {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }
      &.yellow {
        background: $yellow;
      }
    }
  }
}

.custom-radio {
  display: flex;
  li {
    flex-grow: 1;
    width: 33%;
    font-size: 13px;
    label {
      @include vertical-middle;
      justify-content: flex-start;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      .icon {
        font-size: 10px;
        margin-right: 10px;
        &.round {
          background: #fff;
          border-color: $lighterOlive;
          color: $lighterGrey;
          &.selected {
            background: $olive;
            color: #fff;
          }
        }
      }
      input {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
}




