

.white {color: #fff;}
.olive {color: $olive;}
.lightOlive {color: $lightOlive;}
.grey {color: $grey;}
.lightGrey {color: $lightGrey;}
.red {color: red;}
.alarm {color: $alarm;}
.golden {color: $golden;}

body {
  font-family: 'STHeitiSC-Light', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666;
  background: #eee;
  /*-webkit-font-smoothing: antialiased !important;*/
  position: static;
}



.vertical-middle {
  @include  vertical-middle;
}

.mb-1 {margin-bottom: 1em;}
.mb-2 {margin-bottom: 2em;}
.mb-3 {margin-bottom: 3em;}
.mb-4 {margin-bottom: 4em;}
.mb-5 {margin-bottom: 5em;}
.mb-6 {margin-bottom: 6em;}
.mb-7 {margin-bottom: 7em;}
.mb-8 {margin-bottom: 8em;}
.mb-9 {margin-bottom: 9em;}
.mb-10 {margin-bottom: 10em;}

h1,h2,h3,h4,h5,h6 {font-weight: normal;}

header {
  a {
    color: #fff;
  }
}
time {
  font-size: 12px;
  color: $lightGrey;
}

[v-cloak]{
  display: none;
}

input[type=color], input[type=date], input[type=datetime-local],
input[type=datetime], input[type=email], input[type=month], input[type=number],
input[type=password], input[type=search], input[type=tel], input[type=text],
input[type=time], input[type=url], input[type=week], select, textarea {
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 5px;
}

:focus {
  outline: none;
}

input[type="search"]:focus{
    border: none;
}
.title {color: $grey;}
.avatar {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 5em;
  height: 5em;
}
a {
  color: #999;
}
.has-header {
  padding-top: 44px!important;
}
.no-header {
  padding-top: 0;
}
.btn {
  border-radius: 5px;
  height: auto;
  font-size: 14px;
  padding: 8px;
}
.icon-camera {
  &:before {
    position: relative;
    top: -0.1em;
  }
}
.btn-default {
  color: $lightOlive;
}
.u-full-width {
  width: 100%;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-olive {
  background: $lightOlive;
  color: #fff;
  &:active {
    color: #fff;
  }
}
.btn-grey {
  background: $grey;
  color: #fff;
  &:active {
    color: #fff;
  }
}
.badge {
  width: 18px;
  height: 18px;
  line-height: 20px;
  color: #fff;
  background: red;
  text-align: center;
  padding: 0;
  &:empty {
    display: none;
  }
}
.flag-num {
  position: relative;
  display: inline-block;
  color: $olive;
  .badge {
    position: absolute;
    top: -8px;
    right: -18px;
  }
  a {
    color: $olive;
  }
}
body > .bar-nav {
  background: rgba(0,0,0,0);
  & ~ .content {
    padding-top: 0;
  }
}
.content {
  background: $lighterGrey;
}
.segmented-control {
  border-radius: 5px;
}

.logo {
  display: inline-block;
  width: 34px;
}
.avatar-text {
  list-style: none;
  li.card {
    padding: 15px;
    margin: 7px;
    .pull-left {
      margin: 5px 1em 0 0;
      img {
        width: 50px;
        height: 50px;
      }
      .badge {
        top: 0px;
        right: 0px;
      }
    }
    .msg-title {
      h4 {
        font-size: 15px;
        margin-bottom: 5px;
      }
      time {
        color: $lightGrey;
      }
    }
    p {
      margin: 0;
      font-size: 13px;
      line-height: 16px;
      color: #7E7E7E;
    } 
  }
  &.private-msg {
    li.card {
      height: 70px;
      padding: 5px;
      p {
        height: 32px;
        overflow: hidden;
      }
    }
  }
}
.comment-text {
  list-style: none;
  background: $greyBg;
  li.card {
    padding: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 0;
    border-radius: 0;
    display: flex;
    .comment-avatar {
      margin-right: 20px;
      a {
        img {
          width: 32px;
          height: 32px;
          border: 1px solid #fff;
        }
      }
      .badge {
        top: 0px;
        right: 0px;
      }
    }
    .comment-content {
      font-size: 14px;
      width: 100%;
      p {
        margin: 0;
      }
      .msg-title {
        .time {
          color: #fff;
          font-size: 10px;
        }
      }
      .flag-num {
        font-size: 14px;
      }
    }
  }
}

#bullets {
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid $grey;
      background: #fff;
      border-radius: 50%;
      &.active {
        border: none;
        background: $olive;
      }
    }
  }
}

.search-bar {
  background: #0f2e3e;
  overflow: hidden;
  padding: 10px;
  form {
    margin: 0;
    .row{
      padding: 10px 15px;
      margin: 0;
    }
  }

  img{
    float: left;
    margin: 2px 0 0;
  }
  .input-group{
    position: relative;
    margin-left: 50px;
    background: #415561;
    border-radius: 4px;
    padding: 0;
    .input-group-addon{
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: 28px;
      width: 28px;
      line-height: 28px;
      color: #ccc;
      text-align: center;
      .icon-search {
        font-size: 13px;
      }
    }
    input[type=search]{
      height: 28px;
      padding-left: 30px;
      margin: 0;
      border: none;
      background: none;
      text-align: left;
      color: #ccc;
      font-size: 13px;
    }
  }
}

.icomoon {
  font-family: 'icomoon';
}

.statistic {
  background: #fff;
  padding: .5em 0;
  border-bottom: 1px solid #ddd;
  table {
    margin: 0;
    td, th {
      text-align: center;
      border: none;
    }
    th {
      font-size: 15px;
    }
    td {
      font-size: 12px;
      color: $grey;
    }
  }
}

input, textarea {
  &.input-alarm {
    border: 1px solid $alarm;
  }
}

.border-none {
  border: none;
}

