$dark : #13404c;
$olive : #116f8f;
$lightOlive : #4f8da5;
$grey : #999;
$black : #333;
$darkGrey : #666;
$lightGrey : #ccc;
$greyBg : #DBDBDB;
$lighterGrey : #eaeaea;
$yellow : #FFD048;
$white : #fff;
$alarm : #F76033;
$golden : #FCD157;
$orange : #F76033;

$searchCatH : 55px;