
.table-view-cell {
  font-size: 14px;
  color: $black;
  .tail{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 12px;
    color: $grey;
  }
}

.setting-page {
  .page-title {
    font-size: 20px;
    color: #4d4d4d;
  }
  header {
    .main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-right: 10px;
      > * {
        width: 33%;
        flex-grow: 1;
      }
      .avatar {
        width: 35px;
        height: 35px;
        border-width: 2px;
      }
    }
  }
  .info {
    background: $yellow;
    height: 110px;
    padding: 12px;
    .avatar {
      margin: 0 1em 0 0;
    }
    h3 {
      font-size: 20px;
      margin: 7px 0 0;
      color: #4d4d4d;
    }
    p {
      margin: 0;
    }
  }
  h5 {
    margin: 0 10px;
    font-size: 15px;
    color: $lighterOlive;
    font-weight: normal;
  }
  .logout {
    text-align: center;
    margin: 1em;
    a {

      font-size: 15px;
      color: $lighterOlive;
      line-height: 16px;
    }
  }
  .coins {
    margin-top: 25px;
    margin-bottom: 20px;
    td {
      padding: 11px 14px 8px;
      h1, h6, p {
        margin: 0;
      }
      &:first-child {
        text-align: center;
        border-right: 1px solid #ddd;
        color: $olive;
        h1 {
          font-size: 60px;
          line-height: 50px;
        }
        span {
          white-space: nowrap;
          font-size: 12px;
          line-height: 16px;
        }
      }
      &:last-child {
        h6 {
          font-size: 13px;
          line-height: 16px;
          margin-bottom: 0.7em;
        }
        p {
          font-size: 11px;
          color: #A6AFB2;
          line-height: 13px;
        }
      }
    }
  }
  .table-view-cell {
    padding: 9px 65px 11px 13px;
  }
}




